<h1>Stocks</h1>

<table>
  <thead>
    <tr>
      <th>Comapny Name</th>
      <th>Ticker</th>
      <th>Current Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <%  if stock.user_id == current_user.id %>

        <% if stock.ticker == "" %>
          <% @nothing = "N/A" %>

        <% elsif stock.ticker %>
          <% begin %>
            <% @ticker = StockQuote::Stock.quote(stock.ticker) %>
            <% @symbol = @ticker.symbol %>
            <% @company_name = @ticker.company_name %>
            <% @price = number_with_precision(@ticker.latest_price, :precision => 2, :delimiter => ',') %>
          <% rescue RuntimeError => @errorMSG %>
            <% @error = "That company symbol does not exist" %>
        <% if !stock.ticker %>
          <% @symbol = "N/A" %>
          <% @price = "N/A" %>
          <% @company_name = "N/A" %>
        <% end %>
        <% end %>
      <% end %>

      <tr>
        <td><%= @company_name %></td>
        <td><%= @symbol %></td>
        <td>$<%= @price %></td>
        <td><%= link_to 'Show', stock %></td>
        <td><%= link_to 'Edit', edit_stock_path(stock) %></td>
        <td><%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock', new_stock_path %>
