<!DOCTYPE html>
<html>
  <head>
    <title>My Stock Market App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "home/navbar" %>
    <div class="container">
      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
      <br/><br/>
      <%= yield %>
    </div>
  </body>
<footer align="center">
  Copyright (c) Robert Ruder
</footer>
</html>
